<nav>

  <!-- menu icon -->
  <a href="#menu" class="menu-link">
    <i id="menu-icon">&#xE801;</i>
  </a>

  <!-- menu - desktop mode -->
  <div class="desktop-menu">
    <a id="home-page" href="/" style="font-size: 18px">OurSpace</a>
    <a id="about-page" href="/about">About</a>
    <% if (!login) { %>
      <a id="signup-page" href="/signup">Sign Up</a>
      <a id="login-page" href="/login">Log In</a>
    <% } %>
    <% if (login) { %>
      <a id="rooms-page" href="/rooms">All Rooms</a>
      <a id="users-page" href="/users">All Users</a>
      <div class="right-nav-div">
        <li><span id="welcome-user">Welcome, <a href="/users/<%=userLogin.id%>/profile"><%=userLogin.first_name%></a> | </span></li>
        <li><a id="logout" href="/users/logout">Logout</a></li>
      </div>
    <% } %>
  </div>

  <!-- menu - responsive -->
  <div id="menu">
    <li><a href="/about">About</a></li>
    <% if (!login) { %>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Log In</a></li>
    <% } %>
    <% if (login) { %>
      <li><a href="/rooms">All Rooms</a></li>
      <li><a href="/users">All Users</a></li>
      <li><a href="/users/<%=userLogin.id%>/profile">Profile</a></li>
      <li><a id="logout" href="/users/logout">Logout</a></li>
    <% } %>
  </div>

</nav>
