<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/users"><p>Rooms by user</p></a>

	<div id="all-rooms-container">
		<% for (var i=0; i < rooms.length; i++) { %>
			<div class="location">
				<p><a href="/rooms/<%=rooms[i]._id%>"><%= rooms[i].name %></a></p>
			</div>
		<% } %>
	</div>
  </body>
</html>
