<% include ../partials/head %>
<% include ../partials/navbar %>

<!-- <video height="300" id="localVideo"></video>
<div id="remotesVideos"></div> -->

<!-- <body onload="init()"> -->

<body>

  <div class="side-panel" id="videos">

    <h1><%= room.name %></h1>
    <h3>Description:</h3>
    <p><%= room.description %><p>

    <video id="localVideo"></video>
    <strong>Other Users</strong><br>
    <div id="remoteVideos"></div>

  </div>


  <ul class="pages">
    <li id="chatbox">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="inputMessage" placeholder="Type here..."/>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">Enter your name:</h3>
        <input class="usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>


  <!-- <div id="chat-box">
    <ul id="messages"></ul>
    <form action="">
     <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </div> -->

  <!-- <div id="remoteVideos"></div> -->

<!-- <div class="buttonBox">
  <div id="fullscreen" class="button">Enter Full Screen</div>
</div> -->

<% include ../partials/footer %>

<!-- <div id="videos">
  <video id="you" class="flip" autoplay width="263" height="200" style="position: absolute; left: 0px; bottom: 0px;"></video>
</div> -->


<!-- <div id="chatbox">
  <div id="hideShowMessages" class="button">toggle chat</div>
  <div id="messages"></div>
  <input id="chatinput" type="text" placeholder="Message:"/>
</div> -->

<!-- <div id="newRoom" class="button">Create A New Room</div> -->
