@font-face {
  font-family: 'Brandon';
  src: url('/font/Brandon_light.otf');
}

@font-face {
  font-family: 'Brandon Med';
  src: url('/font/Brandon_med.otf');
}

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Brandon';
}

nav {
  background: #11BAEE;
  padding: 10px;
  text-align: center;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: 'Brandon';
  letter-spacing: 2px;
}

nav a {
  text-decoration: none;
  color: #AEDEF5;
  margin: 0 10px;
}

nav a:hover, nav span {
  color: white;
}

.right-nav-div {
  position: absolute;
  top: 11px;
  right: 15px;
}

.right-nav-div li {
  display: inline-block;
}

a {
  font-family: 'Brandon Med';
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
}

a:hover {
  color: black;
}

button, input[type="submit"] {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Brandon';
  font-size: 15px;
  background: #09B2E9;
  color: white;
  width: 200px;
}

button:hover, input[type="submit"]:hover {
  opacity: .75;
}

input {
  font-family: 'Brandon';
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  width: 200px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.input:focus {
  /*outline: none;*/
  border: 1px solid #09B2E9 !important;
}
