/* Font */

@font-face {
  font-family: 'Fontello';
  src: url('/font/cart.ttf');
}

@font-face {
  font-family: 'Brandon';
  src: url('/font/Brandon_light.otf');
}

@font-face {
  font-family: 'Brandon Med';
  src: url('/font/Brandon_med.otf');
}

/* Main */

html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-family: 'Brandon';
  /*margin-top: 43px;
  margin-bottom: 43px;*/
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #11BAEE;
  padding: 10px;
  text-align: left;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  font-family: 'Brandon Med';
  letter-spacing: 2px;
  color: #11BAEE;
}

nav a {
  text-decoration: none;
  color: #AEDEF5;
  margin: 0 10px;
}

nav a:hover, nav span {
  color: white;
}

.right-nav-div {
  position: absolute;
  top: 10px;
  right: 15px;
}

.right-nav-div li {
  display: inline-block;
}

.container {
  padding: 46px;
}

a {
  font-family: 'Brandon Med';
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
}

a:hover {
  color: black;
}

button, input[type="submit"] {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Brandon';
  font-size: 15px;
  background: #09B2E9;
  color: white;
  width: 200px;
}

button:hover, input[type="submit"]:hover {
  opacity: .75;
}

input {
  font-family: 'Brandon';
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  width: 200px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.input:focus {
  /*outline: none;*/
  border: 1px solid #09B2E9 !important;
}

.profile {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  /*z-index: 1;*/
  max-width: 300px;
  margin: 0 auto;
  padding: 46px;
}

.profile h4 {
  margin-bottom: 0px;
}

/* Menu Stuff */

.menu-link {
  display: none;
}

#menu {
  display: none;
  text-align: center;
  /*z-index: 5;*/
}

#menu li {
  display: block;
  margin: 0 auto;
}

#plus-icon, #menu-icon, #link-icon, #tool-icon {
  font-family: 'Fontello';
  font-style: normal;
}

/*footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: #11BAEE;
  color: #AEDEF5;
  width: 100%;
}*/

/* Animations */

/* Source: https://daneden.github.io/animate.css/ */
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {transform: translate3d(0, -10px, 0);}
  90% {transform: translate3d(0, 5px, 0);}
  to {transform: none;}
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {transform: translate3d(0, -10px, 0);}
  90% {transform: translate3d(0, 5px, 0);}
  to {transform: none;}
}

.bounceInDown {
  animation: bounceInDown 1s ease-in;
  -webkit-animation: bounceInDown 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn .5s ease-in;
  -webkit-animation: fadeIn .5s ease-in;
}

/* ========== Media Query ========== */

@media only screen and (max-width: 768px) {

  /*input {
    width: 50%;
  }*/

  #about-page, #signup-page, #login-page, #rooms-page, #users-page, .right-nav-div {
    display: none;
  }

  .menu-link {
    display: block;
    position: absolute;
    right: 20px;
  }

  #menu {
    /*z-index: 5;*/
  }

}
