/* DRAWING BOARD */

/*.drawing-wrapper {
  position: relative;
  height: 100vh;
  width: calc(100% - 400px);
  top: 46px;
  left: 200px;
}

#drawing {
   background: #eaeaea;
   box-sizing: border-box;
   position: absolute;
   top: 0;
   height: 100%;
   width: calc(100% - 400px);
   box-sizing: border-box;
} */

.controls {
  display: inline-block;
  /*position: absolute;*/
  /*top:5px;
  left:5px;*/
  margin-top: 5px;
  background-color:#00B2FF;
  opacity: .75;
  padding:5px;
  color:#fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.controls button {
  background: white;
  color: #00B2FF;
}

#drawing {
   display: inline-block;
   /*border: 1px solid #cecece;*/
   background: #eaeaea;
   box-sizing: border-box;
   position: absolute;
   top: 46px;
   left: 200px;
   height: 100vh;
   width: calc(100% - 400px);
   box-sizing: border-box;
}

/* drawing board & video behind menu */
#drawing, video {
  z-index: -1;
}


.side-panel {
  width: 200px;
  border-right: 1px solid #eaeaea;
  position: fixed;
  left: 0;
  height: calc(100% - 0px);
  box-sizing: border-box;
}

#chatbox {
  width: 200px;
  /*margin-top: 46px;*/
  border-left: 1px solid #eaeaea;
  position: fixed;
  right: 0;
  height: calc(100% - 80px);
  box-sizing: border-box;
}

/* ========== CHATROOM ========== */

ul, li {
  list-style: none;
  word-wrap: break-word;
}

/* Sorta like dot leaders but a line is fine */
/*li.message:after {
  content: "";
  background: black;
  position: absolute;
  left: 25%;
  height: 1px;
  width: 50%;
  margin-top: 30px;
}*/

span.timestamp {
  float: right;
  font-size: 12px;
  color: #999;
}

/* Pages */

/*.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  width: calc(100% - 200px);
}*/

/*.page {
  height: 100%;
  position: absolute;
  right: 0;
  width: 100%;
}*/

/* Font */

.messages {
  font-size: 15px;
}

/*.inputMessage {
  font-size: 15px;
}*/

.log {
  color: gray;
  font-size: 15px;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  /*padding-bottom: 60px;*/
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  outline: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 200px;
  padding: 5px;
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
}

.usernameInput {
  box-sizing: border-box;
  background: white;
  opacity: .75;
  margin: 0;
  padding: 0;
  color: black;
  border: none;
  text-align: center;
}

/* blink animation */
.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}




/* ========== DRAWING BOARD ========== */

/*#paper {*/
  /*width: 100%;
  height: 100%;
  box-sizing: border-box;*/
  /*border: 1px solid #cecece;
  box-sizing: border-box;
  background: #eaeaea;
  position: relative;
}*/

@media screen and (max-width: 768px) {
  /*#drawing {

  }*/

	.side-panel {
    width: 50%;
    height: 50%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
    overflow: scroll;
    box-sizing: border-box;
    border-right: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
  }

  #room-name, #desc {
    display: none;
  }

  #chatbox {
    width: 50%;
    height: calc(50% - 34px);
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 34px;
    background: white;
    box-sizing: border-box;
    border-left: none;
    border-top: 1px solid #eaeaea;
  }

  #localVideo {
    position: fixed;
    top: 50px;
    left: 5px;
    opacity: .75;
    width: 100px;
  }

  #remoteVideos {
    width: 100%;
  }

  .usernameInput {
    width: 100%;
  }

  .inputMessage {
    width: 50%;
  }

  #drawing {
    position: absolute;
    width: 100%;
    left: 0;
    height: 50%;
  }

}









/* ========== SCRAP ========== */

/*#chat-box {
  height: 100%;
}

#messages form {
  background: #000;
  padding: 3px;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
}
#messages form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}
#messages form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}*/
