#drawing {
   display: inline-block;
   background: #eaeaea;
   height: 100vh;
   width: calc(100% - 400px);
   box-sizing: border-box;
}

.controls {
  display: inline-block;
  position: fixed;
  top: 45px;
  left: 205px;
  margin-top: 5px;
  background-color:#00B2FF;
  opacity: .75;
  padding: 5px 10px;
  color:#fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.controls button {
  background: white;
  color: #00B2FF;
  width: 50px;
  padding: 0;
  margin-left: 5px;
}

/* drawing board & video behind menu */
#drawing {
  /*z-index: 1;*/
}

video {
  /*z-index: 2;*/
}

.side-panel {
  width: 200px;
  border-right: 1px solid #eaeaea;
  position: fixed;
  top: 46px;
  left: 0;
  height: calc(100% - 0px);
  box-sizing: border-box;
}

#chatbox {
  width: 200px;
  /*margin-top: 46px;*/
  border-left: 1px solid #eaeaea;
  position: fixed;
  top: 46px;
  right: 0;
  height: calc(100% - 80px);
  box-sizing: border-box;
}

/* ========== CHATROOM ========== */

ul, li {
  list-style: none;
  word-wrap: break-word;
}

span.timestamp {
  float: right;
  font-size: 12px;
  color: #999;
}

/* Font */

.messages {
  font-size: 15px;
}


.log {
  color: gray;
  font-size: 15px;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  /*padding-bottom: 60px;*/
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  outline: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 200px;
  padding: 5px;
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
}

.usernameInput {
  box-sizing: border-box;
  background: white;
  opacity: .75;
  margin: 0;
  padding: 0;
  color: black;
  border: none;
  text-align: center;
}

/* blink animation */
.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* ========== MEDIA QUERY ========== */

@media screen and (max-width: 768px) {



  .side-panel {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    background: white;
    border-right: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    overflow: scroll;
    bottom: 0;
    top: inherit;
    z-index: 3;
  }

  #room-name, #desc {
    display: none;
  }

  #chatbox {
    width: 50%;
    height: calc(50% - 34px);
    display: block;
    top: inherit;
    right: 0;
    bottom: 0;
    margin-bottom: 34px;
    background: white;
    box-sizing: border-box;
    border-left: none;
    border-top: 1px solid #eaeaea;
  }

  #localVideo {
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 5px;
    opacity: .75;
    width: 100px;
    /*z-index: 3;*/
  }

  #remoteVideos {
    width: 100%;
  }

  .usernameInput {
    width: 100%;
  }

  .inputMessage {
    width: 50%;
  }

  #drawing {
    width: 100vw;
    height: 50vh;
  }

  .controls {
    right: 5px;
    left: inherit;
    z-index: 0;
  }

  .drawing-wrapper {
    z-index: -100;
  }

  #menu {
    z-index: 100;
  }

}
