html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.side-panel {
  width: 200px;
  height: 100%;
  margin-top: 43px;
  border-right: 1px solid #eaeaea;
  display: inline-block;
  position: absolute;
  left: 0;
  height: 100%;
}
