<% include ../partials/head %>
<% include ../partials/navbar %>
<div class="container fadeIn">

  <h1>About</h1>

  <p style="font-size: 20px"><a style="font-size: 18px" href="https://ourspace.herokuapp.com/">OurSpace</a> is a collaborative
    environment with real-time video, chat and drawing board. A user can sign up
    and log in to start an interactive experience for educational or leisurely purposes.
  </p>
  <div style="font-size: 20px">
    This app was created with the following technologies:
    HTML/CSS,
    JavaScript,
    jQuery,
    Node.js/Express,
    MongoDB,
    passport.js,
    socket.io,
    webrtc.io
  </div>

</div>
<% include ../partials/footer %>
