<% include ../partials/head %>
<% include ../partials/navbar %>

<div class="container fadeIn">

  <h1>About</h1>

  <p style="font-size: 20px"><a style="font-size: 18px" href="https://ourspace.herokuapp.com/">OurSpace</a> is a collaborative
    environment with real-time video, chat and drawing board. A user can sign up
    and log in to start an interactive experience for educational or leisurely purposes.
  </p>

  <div style="font-size: 20px">
    This app was created with the following technologies:<br>
    <div class="img-div">
      <img src="/img/html5.png" alt="HTML5" />
      <caption>HTML</caption>
    </div>
    <div class="img-div">
      <img src="/img/css3.png" alt="CSS3" />
      <caption>CSS3</caption>
    </div>
    <div class="img-div">
      <img src="/img/javascript.png" alt="JavaScript" />
      <caption>JavaScript</caption>
    </div>
    <div class="img-div">
      <img src="/img/jquery.png" alt="jQuery" />
      <caption>jQuery</caption>
    </div>
    <div class="img-div">
      <img src="/img/nodejs.png" alt="Node.js" />
      <caption>Node.js</caption>
    </div>
    <div class="img-div">
      <img src="/img/express.png" alt="Express" />
      <caption>Express</caption>
    </div>
    <div class="img-div">
      <img src="/img/mongodb.png" alt="MongoDB" />
      <caption>MongoDB</caption>
    </div>
    <div class="img-div">
      <img src="/img/passportjs.png" alt="Passport.js" />
      <caption>Passport.js</caption>
    </div>
    <div class="img-div">
      <img src="/img/socket.png" alt="Socket.io" />
      <caption>Socket.io</caption>
    </div>
    <div class="img-div">
      <img src="/img/webrtc.png" alt="WebRTC" />
      <caption>WebRTC</caption>
    </div>
  </div>

</div>

<% include ../partials/footer %>
