<% include ../partials/head %>
<% include ../partials/navbar %>

<div class="vertical-align">

  <div class="container bounceInDown">

    <h3>Log In</h3>

    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Username" value="guest"><br>
      <input type="password" name="password" placeholder="Password" value="guest"><br>
      <button>Log In</button>
    </form>

    <p>New user? Sign up <a href="/signup">here</a>.</p>

  </div>

</div>

<% include ../partials/footer %>
