<% include ../partials/head %>
<% include ../partials/navbar %>

<div class="container bounceInDown">

  <h3>Log In</h3>

  <form action="/users/login" method="POST">
    <input type="text" name="username" placeholder="Username" value="guest"><br>
    <input type="password" name="password" placeholder="Password" value="guest"><br>
    <button>Log In</button>
  </form>

  <p>New user? Sign up <a href="/signup">here</a>.</p>

</div>

<% include ../partials/footer %>
