<% include ../partials/head %>
<% include ../partials/navbar %>
<body>
<p id="user_id" style="display: none"><%= user.id %></p>
<h1><%= user.first_name %>'s Rooms</h1>

<% if (usertrue) { %>
  <h3>Add a New Room</h3>
  <form action="/users/<%= user.id %>/newroom" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="description">
    <input type="submit">
  </form>
<% } %>

<% include ../partials/footer %>
